<section>
    <div class="container">
        <h2>Add Products</h2>
        <form action="/admin/add-product" method="post" enctype="multipart/form-data" class="form-control">
         <label for="">Name</label><br>
         <input type="text" name="Name" placeholder="name" class="form-control"><br>
         <label for="">Discription</label><br>
         <input type="text" name="Discription" class="form-control" placeholder="discription"><br>
         <label for="">Category</label><br>
         <input type="text" name="Category" class="form-control" placeholder="category"><br>
         <label for="">Price</label><br>
         <input type="text" name="Price" class="form-control" placeholder="Price"><br>
         <label for="">Image</label><br>
         <input type="file" class="form-control" name="Image" ><br>

        <button type="submit" class="btn btn-success">Submit</button>    

        </form>
    </div> 
</section>