<section>
    <div class="container">
        <div class="row" >
            <div class="col-md-12 text-center">
                <h3>Order Placed Sucessfully</h3>
                <a href="/orders" class="btn btn-primary">View Orders</a>
            </div>
        </div>
    </div>
</section>