<section>
    <div class="container">
        <h2>Enter Your Adress</h2>
       <form action="" id="checkout-form">
        <div class="row">
            <div class="col md 6">
        <div class="form-group">
            <label>Adress</label>
            <input type="text" class="form-control" id="adress" name="adress" placeholder="Adress">
          
        </div>
        <div class="form-group">
            <label >Pincode</label>
            <input type="text" class="form-control" id="pincode" name="pincode" placeholder="pincode">
        </div>
        <div class="form-group ">
           <label >Mobile Number</label>
            <input type="tel" class="form-control" id="mobile" name="mobile" placeholder="mobile number">
           <input type="text" name="userId" value="{{user._id}}" hidden>
        </div>
       
         <div class="card mt-2" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Total Amount:RS.{{total}}</h5>
            <hr>
            <h6 class="card-subtitle mb-2 text-muted">Payment Method</h6>
                 <input type="radio" id="cod" name="payment-method" value="COD">
                  <label for="html">COD</label><br>
                   <input type="radio" id="online" name="payment-method" value="ONLINE">
                  <label for="html">Online payment</label><br>
           
            <button class="btn btn-primary" type="submit">Checkout</button>
        </div>
        </div>
        </div>
        </div>
  </form>
  
    </div>
</section>
<script>
    $("#checkout-form").submit((e)=>{
        e.preventDefault()
        $.ajax({
            url:'/place-order',
            method:'post',
            data:$('#checkout-form').serialize(),
            success:(response)=>{
                alert(response)
                if(response.codSuccess){
                    location.href='/order-success'
                }else{
                   razorPayment(response)
                }
            }
        })
    })
    function razorPayment (order){
        var options = {
    "key": 'rzp_test_ZdONrcdecrhjHq',
     // Enter the Key ID generated from the Dashboard
    "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Atuljojok",
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id":order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "callback_url": "https://eneqd3r9zrjok.x.pipedream.net/",
    "handler": function (response){
  
     verifyPayment(response,order)
     },
      
    

    "prefill": {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "9999999999"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};
   var rzp1 = new Razorpay(options);
     rzp1.open();
 }
  function verifyPayment(payment,order){
    $.ajax({
        url:'/verify-payment',
        data:{
            payment,order
        },
        method:'post',
        success:(response)=>{
            if(response.status){
                 location.href='/order-success'
            }else{
                alert("payment failed")
            }
        }
    })
 }
</script>