<div class="container">
    <div class="row">
        <div class="col md 6">
            <h2 style="color:rgb(84, 84, 240) ;">Sign Up</h2>

          <form  action="/signup" method="post" class="">
             <div class="form group">
                <label for="" >Name</label><br>
                <input type="text" name="Name" placeholder="Name" class="form-control"><br>
             </div> 
              <div class="form group">
                <label for="">Email</label><br>
                <input type="email" name="Email" placeholder="Email" class="form-control"><br>
               </div>
              <div class="form group">
                <label for="">Password</label><br>
                <input type="password" name="Password" placeholder="password" class="form-control"><br>
              </div> 
              <div class="form group">
                <button type="submit" class="btn btn-success" class="form-control">SignUp</button>
             </div>
               <a href="/login">Already hava an account?</a>
            </form>
           
        </div>

    </div>
</div>